@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body[data-theme="dark"] {
  --color-text-primary: white;
  --color-text-secondary: #ffff88;
  --color-bg-primary: #313338;
  --color-bg-toggle: #2e3035;
}

body[data-theme="light"] {
  --color-text-primary: #313338;
  --color-text-secondary: #8888ff;
  --color-bg-primary: #fef6ed;
  --color-bg-toggle: #f6ede6;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;
  transition: background 0.25s ease-in-out;
}

#hpbar {
  background-color: greenyellow;
}

#attackbar {
  background-color: goldenrod;
}

#defensebar {
  background-color: darkgoldenrod;
}

#special-attackbar {
  background-color: cyan;
}

#special-defensebar {
  background-color: darkcyan;
}

#speedbar {
  background-color: purple;
}

#hpev {
  color: greenyellow;
}

#attackev {
  color: goldenrod;
}

#defenseev {
  color: darkgoldenrod;
}

#special-attackev {
  color: cyan;
}

#special-defenseev {
  color: darkcyan;
}

#speedev {
  color: purple;
}

#typenormal {
  background-color: #A8A77A;
  border-color: #A8A77A;
}

#typefighting {
  background-color: #C22E28;
  border-color: #C22E28;
}

#typeflying {
  background-color: #A98FF3;
  border-color: #A98FF3;
}

#typepoison {
  background-color: #A33EA1;
  border-color: #A33EA1;
}

#typeground {
  background-color: #E2BF65;
  border-color: #E2BF65;
}

#typerock {
  background-color: #B6A136;
  border-color: #B6A136;
}

#typebug {
  background-color: #A6B91A;
  border-color: #A6B91A;
}

#typeghost {
  background-color: #735797;
  border-color: #735797;
}

#typesteel {
  background-color: #B7B7CE;
  border-color: #B7B7CE;
}

#typefire {
  background-color: #EE8130;
  border-color: #EE8130;
}

#typewater {
  background-color: #6390F0;
  border-color: #6390F0;
}

#typegrass {
  background-color: #7AC74C;
  border-color: #7AC74C;
}

#typeelectric {
  background-color: #F7D02C;
  border-color: #F7D02C;
}

#typepsychic {
  background-color: #F95587;
  border-color: #F95587;
}

#typeice {
  background-color: #96D9D6;
  border-color: #96D9D6;
}

#typedragon {
  background-color: #6F35FC;
  border-color: #6F35FC;
}

#typedark {
  background-color: #705746;
  border-color: #705746;
}

#typefairy {
  background-color: #D685AD;
  border-color: #D685AD;
}

select option:first-child {
  background-color: #A8A77A;
  border-color: #A8A77A;
}

label:has(input[type="radio"]:checked) {
  @apply bg-[#5865f2] text-white;
}
.hidescroll {
  overflow: auto;
  scrollbar-width: none; /* 在Firefox中隐藏scroll bar */
  -ms-overflow-style: none; /* 在IE/Edge中隐藏scroll bar */
}

.hidescroll::-webkit-scrollbar {
  width: 0; /* 在Chrome和Safari中隐藏scroll bar */
}

@media (min-width: 0px) and (max-width: 767px) {
  #typeTable td {
    position: relative;
    display: block;
    text-align: right;
  }

  #typeTable td::before {
    position: absolute;
    left: 10px;
    content: attr(data-label);
    z-index: 1;
  }

  .side-menu {
    z-index: 2;
    background-color: #2b2d31;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -150%;
    transition: 500ms;
  }

  .side-menu.active {
    left: 0;
    transition: 200ms;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .side-menu {
    background-color: #2b2d31cc;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 800ms;
  }

  .side-menu.active {
    left: 0;
    transition: 300ms;
  }
}

@media (min-width: 1024px) {
  .side-menu {
    background-color: #2b2d31cc;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 800ms;
  }

  .side-menu.active {
    left: 0;
    transition: 300ms;
  }
}
